:root{
    box-sizing: border-box;
}

@font-face {
    font-family: norse-bold ;
    src: 
        url("Norse-Bold.otf");
    font-weight: normal;
    font-style: normal;
}

/* * { border: 1px solid red !important; } */

body{
    height: 100vh;
}

h1{
    font-family: norse-bold, sans-serif;
    color: aqua;
}

.container{
    display:flex;
    flex-direction: row;
}

.container div:first-child{
    position: relative;
    flex:1;
    flex-grow: 0.4;
    /* text-align: center; */
}

.container div:nth-child(2){
    flex:1;
    flex-grow: 1;
}

[src = "photo-1585202900225-6d3ac20a6962.avif"]{
    max-width: 40vw;
    width: 40vw;
    height: 100vh;
    position:static;
}

div > div > div{
    height: 0vh;
    max-width: 40vw;
    /* text-align: center; */
    
}

div > div > div > span:first-child{ 
    position: absolute;
    background-color: rgb(0 0 0 / 50%);
    height: 10vh;
    max-width: 40vw;
    width: 40vw;
    left:0;
    top: 200px;
    
}

[src="odin-lined.png"]{
    position:absolute;
    top:200px;
    left: 32.5%;
    right: 67.5%;
    max-height: 10vh;
    opacity: 1;
    min-width:0px;

}

span p:only-child {
    color: white;
    position: absolute;
    top: 10px;
    left: 47.5%;
    font-size: 4em;
    font-family: norse-bold, sans-serif, 'Times New Roman', Times, serif;
    padding:0;
    margin:0;
    border: 0;
}

div > div > div > span:last-child{ 
    position:absolute;
    /* top: 400px; */
    /* bottom: 0px; */
    margin-top: 95vh;
    /* background-color: white; */
    /* width:40vw;
    height: 10vw; */
    color: white;
    display: inline;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    font-size: 0.8em;
    width: 40vw;
    text-align: center;
}

div > div > div > span:last-child > p{ 
    display: inline-block;
}

a{
    color:white;
}

#information-section{
    display: flex;
    flex-direction: column;
    width: 100%;

}

#first-block,#second-block,#third-block{
    flex:1;
    width: 100%;
    position: static;
    max-width: 60vw;
}

#first-block{
    background-color: rgb(245, 245, 245);
    max-height: 35vh;
    height: 35vh;
}

#second-block{
    background-color: rgb(255, 255, 255);
    max-height: 30vh;
    height: 30vh;
    
}

#third-block{
    background-color: rgb(245, 245, 245);
    max-height: 35vh;
    height: 35vh;
}

#first-block p {
    font-size: 1.05em;
    font-weight: bolder;
    font-family: sans-serif , 'Times New Roman', Times, serif;
    margin-left: 5vw;
}

#first-block p:first-child{
    margin-top: 20vh;
}

#log-in{
    display: inline-block;
    position:static;
    margin-top: 15vh;
    margin-left: 0%;
    color: black;
    background-color: rgb(245, 245, 245);
    text-align: left;
}

button{
    position:absolute;
    top: 75vh;
    background-color: #596D48;
    color: white;
    height: 5vh;
    width: 17vw;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    /* margin-top: 10vw; */
    margin-bottom: 2vw;
    margin-left:5vw;
}

div span:only-child > a, div span:only-child > p{
    font-size: 1.3em;
    text-align: left;
    position: static;
    margin-top: 0vh;
}
div > span:only-child > a{
    color: #596D48;
}

div > span:only-child > p {
    margin-left: 5vw;
}

#second-block h1{
    margin-left: 5vw;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    font-size: 2em;
    color: black;
}

#form-div{
    display: flex;
    position: static;
}

#form-div div{
    position: static;
    flex: 1;
    margin-left: calc(5vw - 2px);
    padding: 2px; 
    padding-bottom: 2vw;

}

label, input{
    display: block;
    min-width: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}

input{
    /* border-color: #E5E7EB; */
    border-right: 2px solid #E5E7EB;
    border-left: 2px solid #E5E7EB;
    border-bottom: 2px solid #E5E7EB;
    border-top: 2px solid #E5E7EB; 
}

input:focus{
    outline: none !important;
    border-right: 2px solid #5396ec;
    border-left: 2px solid #5396ec;
    border-bottom: 2px solid #5396ec;
    border-top: 2px solid #5396ec;
    box-shadow: 3px 3px 5px -3px gray;

}

input:focus:invalid{
    outline: none !important;
    border: 2px solid red;
    box-shadow: 3px 3px 5px -3px gray;
}

#form-div div:last-child{
    margin-left: 0vw;
}

#form-div div:first-child{
    flex-grow:0.8;
}



/* form{
    width: 60vw;
} */




